#!/usr/bin/env bash
# 进入项目目录自动激活 autodrivedata env(direnv)
# shellcheck disable=SC1091
# 压掉 conda 激活产生的 CONDA_BACKUP_*/-XX 刷屏(direnv 会把 unset/export 逐行吐出来)
export DIRENV_LOG_FORMAT=""
source /root/miniconda3/bin/activate autodrivedata
